<title>Архив статей</title>
<head>
<link rel="stylesheet" href="{{ STATIC_URL }}/static/css/article.css">
</head>
<body>
    <div>
        <a href="/sign-in">
        <h4 class="sign-in">Вход</h2>
        <a href="/sign-up">
        <h4 class="sign-up">Регистрация</h2>
    </div>
    <div class="header">
        {% load static %}
        <a href="/">
        <img src="{% static '/img/logo.png'%}" />
    </div>


    <div>
    <a href="/article/new">
    <h2 class="new-article">Написать новую статью</h2>


    </div>
    <div class="archive">
    {% for post in posts %}
        <div class="one-post">
        <a href="/article/{{post.id}}">
            <h2 class="post-title">{{ post.title }}</h2> </a>
            <div class="article-info">
            <div class="article-author">{{ post.author.username }}</div>
            <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
        </div>
    {% endfor %}
    </div>
</body>
